<h1>Archive</h1>
    <div class="archive">
    <div class="miniSpace"></div>
<h3>March 2025</h3>

 <a href=Posts/2025-03-22-donald-trump-is-corrosive.html class="archiveItem">Donald Trump is Corrosive</a>
 <a href=Posts/2025-03-15-whither-kurdistan.html class="archiveItem">Whither Kurdistan</a>
 <a href=Posts/2025-03-08-belt-and-road.html class="archiveItem">Belt and Road</a>
 <a href=Posts/2025-03-07-building-this-blog.html class="archiveItem">Building this Blog</a>
 <a href=Posts/2025-03-01-a-catastrophic-meeting.html class="archiveItem">A Catastrophic Meeting</a>
<h3>February 2025</h3>

 <a href=Posts/2025-02-28-trumpScript:-a-satirical-programming-language.html class="archiveItem">TrumpScript: A Satirical Programming Language</a>
 <a href=Posts/2025-02-22-when-parties-party.html class="archiveItem">When Parties Party</a>
 <a href=Posts/2025-02-15-the-murder-of-sam-nordquist.html class="archiveItem">The Murder of Sam Nordquist</a>
 <a href=Posts/2025-02-15-protest-against-protectionism.html class="archiveItem">Protest Against Protectionism</a>
 <a href=Posts/2025-02-08-between-the-river-and-the-ceasefire.html class="archiveItem">Between the River and the Ceasefire</a>
 <a href=Posts/2025-02-02-two-weeks.html class="archiveItem">Two Weeks</a>
</div>